.img {
  background-color: #d9d9d922;
  text-align: center;
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 60%;
  min-width: min-content;
  button {
    color: #ddd;
    justify-self: center;
  }
}
.tags {
  display: flex;
  background-color: #d9d9d922;
  text-align: center;
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 300px;
  flex-direction: column;
  min-height: 17%;
}

.gameInfo {
  background-color: #d9d9d922;
  text-align: center;
  border: 1px solid #ddd;
  padding: 40px;
  width: 300px;
  border-radius: 8px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  min-height: 70%;
  min-width: min-content;
}

@media (max-width: 700px) {
  .gameInfo {
    margin-top: 120px;
    margin-left: 0;
  }
}
